.about_me_background {
    /*background: url(../image/about_me_background.jpg) right top;*/
    background-size: 100% 100%;
}

.aboutMeInfo {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.aboutMeInfo p {
    width: 800px;
    font-size: 25px;
    font-family: ISOCT2, 'sans-serif';
    color: white;
    align-items: center;
    margin: auto;
    padding: 80px 10px;
}

.aboutMeInfo {
    display: none;
}

.titleAboutMe {

}

