.aboutMeInfo {
    display: flex;
    margin: auto;
    flex-direction: column;
}
.aboutMeInfo p {
    width: 800px;
    font-size: 25px;
    align-items: center;
    margin: auto;
    padding: 20px 10px;
}
/*.imgAboutMe img{*/
    /*display: flex;*/
    /*width: 800px;*/
    /*height: 450px;*/
    /*margin: auto;*/
/*}*/
