
.projects {
    justify-content: space-around;
    padding: 0 20px 20px 20px;
    width: 1000px;
    display: none;
    /*display: flex;*/

}

.projectsCol1, .projectsCol2, .projectsCol3 {
    flex-flow: column wrap;
    display: flex;
    margin: 10px;
    padding: 0;
    justify-content: flex-start;

}

.project_img img {
    width: 270px;
    padding: 10px;
}

.graphic_background {
    /*background-image: url("../image/graphic_gallery_background.png");*/
    background-size: cover;
}

#titleGalleryDivision {
    display: flex;
    justify-content: center;
    width: 1000px;
}

.positionStatic {
    position: static;
}

.styleTitleGallery {
    font-family: ISOCT2, 'sans-serif';
    font-size: 28px;
    color: white;
}
