.main_background {
    min-height: 800px;
    background-size: cover;
    /*background: url("../image/main_background.jpg") right top;*/
}

.link {
    font-size: 26px;
    position: absolute;
    color: white;

}

.gallery_menu {
    position: relative;
}

#designLink {
    top: 9%;
    left: -18%;
    animation: moveDesignLink 1.2s;


}

@keyframes moveDesignLink {
    from {
        top: 0;
        left: -24%;
        opacity: 0;

    }
    to {
        top: 9%;
        left: -18%;
        opacity: 1;
    }
}

#paintingLink {
    top: 30%;
    left: -40%;
    animation: movePaintingLink 1.5s;
}

@keyframes movePaintingLink {
    from {
        top: 35%;
        left: -45%;
        opacity: 0;
    }
    to {
        top: 30%;
        left: -40%;
        opacity: 1;
    }
}

#graphicLink {
    bottom: 17%;
    left: -43%;
    animation: moveGraphicLink 1.8s;

}

@keyframes moveGraphicLink {
    from {
        bottom: 12%;
        left: -50%;
        opacity: 0;
    }
    to {
        bottom: 17%;
        left: -43%;
        opacity: 1;
    }
}

#digitalArtLink {
    top: -21%;
    right: -11%;
    animation: moveDigitalArtLink 0.9s;

}

@keyframes moveDigitalArtLink {
    from {
        top: -26%;
        right: -16%;
        opacity: 0;
    }
    to {
        top: -21%;
        right: -11%;
        opacity: 1;
    }
}

#othersLink {
    top: 46%;
    right: -47%;
    animation: moveOthersLink 0.6s;

}

@keyframes moveOthersLink {
    from {
        top: 46%;
        right: -54%;
        opacity: 0;
    }
    to {
        top: 46%;
        right: -47%;
        opacity: 1;
    }
}

#_3dLink {
    bottom: 17%;
    right: -28%;
    animation: move_3dLink 0.3s;

}

@keyframes move_3dLink {
    from {
        bottom: 10%;
        right: -38%;
        opacity: 0;
    }
    to {
        bottom: 17%;
        right: -28%;
        opacity: 1;
    }
}
