.main_background {
    min-height: 800px;
    background-size: cover;
    /*background: url("../image/main_background.jpg") right top;*/
}


.link {
    font-size: 26px;
    position: absolute;
    color: white;

}

.gallery_menu {
    position: relative;
}

#designLink {
    top: 9%;
    left: -18%;
    animation: moveDesignLink 5s;
}

@keyframes moveDesignLink {
from {
top: -60%;
left: -60%;
opacity: 0;
}
to {
top: 9%;
left: -18%;
opacity: 1;
}
}

#paintingLink {
    top: 30%;
    left: -40%;
    animation: movePaintingLink 5s;
}

@keyframes movePaintingLink {
from {
top: 0;
left: -100%;
opacity: 0;
}
to {
top: 30%;
left: -40%;
opacity: 1;
}
}

#graphicLink {
    bottom: 17%;
    left: -43%;
    animation: moveGraphicLink 5s;

}

@keyframes moveGraphicLink {
from {
bottom: 0;
left: -100%;
opacity: 0;
}
to {
bottom: 17%;
left: -43%;
opacity: 1;
}
}

#digitalArtLink {
    top: -21%;
    right: -11%;
    animation: moveDigitalArtLink 5s;
}

@keyframes moveDigitalArtLink {
    from {
        top: -100%;
        right: -100%;
        opacity: 0;
    }
    to {
        top: -21%;
        right: -11%;
        opacity: 1;
    }
}

#othersLink {
    top: 46%;
    right: -47%;
    animation: moveOthersLink 5s;
}

@keyframes moveOthersLink {
    from {
        top: -20%;
        right: -100%;
        opacity: 0;
    }
    to {
        top: 46%;
        right: -47%;
        opacity: 1;
    }
}

#_3dLink {
    bottom: 17%;
    right: -28%;
    animation: move_3dLink 5s;
}

@keyframes move_3dLink {
    from {
        bottom: 0;
        right: -100%;
        opacity: 0;
    }
    to {
        bottom: 17%;
        right: -28%;
        opacity: 1;
    }
}
