/*html, body, div, span, applet, object, iframe, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, image, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*margin: 0;*/
/*padding: 0;*/
/*border: 0;*/
/*font-size: 100%;*/
/*font: inherit;*/
/*vertical-align: baseline;*/
/*}*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
/*display: block;*/
/*}*/
/*body {*/
/*line-height: 1;*/
/*}*/
/*ol, ul {*/
/*list-style: none;*/
/*}*/
a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {

}

body {
    background: url(../image/main_background.jpg) right;
    height: 100%;
    background-size: cover;
}

main {

}

/* css reset in the top */
@font-face {
    font-family: ISOCT2;
    src: local("ISOCT2"),
    local("ISOCT2"),
    url(../fonts/ISOCT2.ttf);
}

/*Fonts  */
* {
    font-family: ISOCT2, 'sans-serif';
}

/* */
.container_flex {
    display: flex;
    height: 100%
}

.container_contents {
    width: 1000px;
    height: 100%;
}

.position_center_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    /*height: 450px;*/
}

/* Nav bar */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_name {
    font-family: 'ISOCT2';
    display: inline-flex;
    color: white;
    margin: 30px 10px;
    text-shadow: 1px 1px 10px white;

}

.navWrapper {
    margin: 0;
    padding: 0;
    display: inline-flex;

}

.navigation a {
    margin: 18px;
    color: white;
    font-family: ISOCT2;
    text-shadow: 1px 1px 10px white;

}

.menuIcon {
    margin: 30px 10px;
    display: inline-flex;
}

#navList {
    display: inline-flex;
    margin: 30px 10px;
    font-size: 20px;
    visibility: hidden;
}

.mainHeader {
    display: flex;
    justify-content: center;
}

#menu_img_box {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

#menu_img1 {
    width: 40px;
    height: 10px;
    background-image: url("../image/menu_img1.png");
    background-size: cover;
    animation: menu 2s;

}

.rotate_img1 {
    position: absolute;
    transform: rotate(40deg);
    margin-top: 14px;

}

#menu_img2 {
    width: 40px;
    height: 10px;
    background-image: url("../image/menu_img1.png");
    background-size: cover;
    margin: 5px 0;
    animation: menu 2s;

}

.visibility_hidden {
    position: absolute;
    visibility: hidden;
    margin: 0;
}

#menu_img3 {
    width: 40px;
    height: 10px;
    background-image: url("../image/menu_img1.png");
    background-size: cover;
    animation: menu 2s;

}

.rotate_img3 {
    position: absolute;
    transform: rotate(-40deg);
    margin: 0;
    margin-top: 14px;

}

