* {
  margin: 0;
  padding: 0;
  border: 0;
  transition: all;
  font: 25px ISOCT2, 'sans-serif';
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black right top no-repeat;
  opacity: 1;
  background-size: cover;

}

a {
  text-decoration: none;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainBackground {
  background: url(image/backgrounds/main.jpg) black right center; /* Main background */
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mainContent {
  width: 100%;
  height: 92%;
  display: flex;
  margin: 0;
  //overflow: auto;
  justify-content: center;
  padding-right: 30px;
  //overflow-anchor: none;
}

.hide {
  display: none !important;
}

.visible {
  display: flex !important;
}

/* Fonts */
@font-face {
  font-family: ISOCT2;
  src: local("ISOCT2"),
  local("ISOCT2"),
  url(./fonts/ISOCT2.ttf);
}

#categoryDesign, #categoryGraphic, #categoryDigitalArt, #category3d, #categoryOthers, #categoryPainting {
  display: none;
  flex-direction: column;
  padding: 0;
  width: 1000px;
}

#categoryDesign {
  display: none;
  background-size: cover;
  opacity: 1;
}

@keyframes showGraphicBackground {

}

#navBarMenuSvg {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 640px) {
  .logo_name {
    font-size: 20px;
  }
  .linkGalleryCategory {
    font-size: 18px;
  }
  #derevo {
    width: 300px;
    height: 300px;
    margin: -100px 0 0 -159px;
  }
  .galleryMenuCategories {
    width: 300px;
    height: 300px;
    margin: -100px 0 0 -143px;
  }
  #others {
    right: -30%;
  }
  #digitalArt {
    top: -15px;
  }
  #_3d {
    right: 0;
  }
  #graphic {
    bottom: 44px;
    left: -87px;
  }
  #contactsInfo p, #contactsInfo a {
    font: 20px ISOCT2, 'sans-serif';
    padding: 0;
  }
  #aboutMeInfo p {
    font: 20px ISOCT2, 'sans-serif';
  }
  .titleCategory {
    margin: 10px auto;
    font: 18px ISOCT2, 'sans-serif';
  }
}

@media only screen and (max-width: 400px) {
  .logo_name {
    font-size: 17px;
    margin: auto;
  }
  .navigation a {
    font: 14px ISOCT2;
  }
  .navLinks {
    margin: 0 5px;
  }
  .navLinks {
    margin: 0 3px;
  }
  .linkGalleryCategory {
    font-size: 15px;
  }
  #menu_img_box {
    margin-left: -10px;
  }
  #derevo {
    width: 200px;
    height: 200px;
    margin: -86px 0 0 -90px;
  }
  .galleryMenuCategories {
    width: 205px;
    height: 203px;
    margin: -89px 0 0 -87px;
  }
  #others {
    right: -30%;
  }
  #digitalArt {
    top: -15px;
  }
  #_3d {
    right: 0;
  }
  #graphic {
    bottom: 44px;
    left: -87px;
  }
  #contactsInfo p, #contactsInfo a {
    font: 15px ISOCT2, 'sans-serif';
    padding: 0;
    height: 100px;
  }
  #aboutMeInfo p {
    font: 13px ISOCT2, 'sans-serif';
    padding: 80px 10px;

  }
  .titleCategory {
    margin: 0 auto;
    font: 16px ISOCT2, 'sans-serif';
  }
}
