#others {
  top: 46%;
  right: -47%;
  animation: moveOthersLink 5s;
}

@keyframes moveOthersLink {
  0% {
    top: 46%;
    right: -54%;
    opacity: 0;
  }
  60% {
    top: 46%;
    right: -54%;
    opacity: 0;
  }
  100% {
    top: 46%;
    right: -47%;
    opacity: 1;
  }
}
@keyframes moveOthersLink1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


