#painting {
  top: 30%;
  left: -45%;
  animation: movePaintingLink 3.3s;
}

@keyframes movePaintingLink {
  0% {
    opacity: 0;
  }
  60% {
    top: 100%;
    left: -45%;
    opacity: 0;
  }
  100% {
    top: 30%;
    left: -45%;
    opacity: 1;
  }
}
@keyframes movePaintingLink1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

